body{
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
}
.header_section{
	background: rgba(255,255,255,52%);
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
.header_name img{
	display: inline-block;
    height: 32px;
    margin: 4px 6px 0;
}
.header_name h1{
	color:#525288;
	
	font-weight:400;
}
.nav-link{
	color:#433e94;
	font-weight:200;
}
.nav-item .head{
	font-size: 17px;
    margin-left: 7px;
}
 .active {
	 color:blue;
	font-weight:200;
 }
 
 
 /* dropdown section starts  */
  
.dropdown, .dropdown_sub{
	position:relative;
	display: flex;
    align-items: center;
	
	/* margin:0 11px; */
	}
.dropdown_sub ul li{
	position:relative;
	display: flex;
	
   
}
.dropdown > a >i{
	margin-left:8px;
}
.nav_bar .logo_navlink.dropdown a{
	text-decoration:none;
	color:#433e94;
	font-weight:600;
	
}
.nav_bar .logo_navlink.dropdown a:hover{
	color:#0d6efd;
}
 .dropdown_list , .dropdown_nav_sub{

	position:absolute;
	background-color:white;
	min-width:180px;
	color:black;
	padding:10px 0px;
	text-align:center;
	list-style:none;
	top:100%;
	left:0;
	opacity:0;
	visibility:hidden;
	transform:translateY(30px);
	transition:all 0.6s ease;
	box-shadow: 5px 3px 6px grey;
	
}
.dropdown_nav_sub{ 
	 transform:translateX(-30px); 
	 left:100%;
	 top:0;
 } 
 .dropdown_sub >a >.fa{
	 margin-left:50px;
 }
.dropdown:hover .dropdown_list  ,
.dropdown_sub:hover .dropdown_nav_sub {
	opacity:1;
	transform:translateY(0);
	visibility:visible;
}
.dropdown_list >li >a  , .dropdown_nav_sub > li > a  {
	display: block;
    text-decoration: none;
    color: #000;
    text-align: left;
    font-size: 16px;
    padding: 11px 15px;
    transition: all 0.3s ease;
}
 .dropdown_list > li >a:hover ,
 .dropdown_nav_sub > li >a:hover {
		color:#ffc451;
}
 
 
 
 
 /* dropdown section end  */


.banner_section{
	background-image:url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
	padding:108px 0;
	
}
.btn .additional {
	padding:20px 30px;
	transform:translateX(0px);
	transition:all 0.5s ease;
}
.btn .additional:hover .thin{
	transform:translateX(20px);
	
}
.get_started button{
	    padding: 11px 40px;
		box-shadow:1px 2px 5px #0d6efd;
}
.get_arrow{
	margin-left:15px;
	
	font-weight:100;
	transform:translateX(0);
	transition:all 0.8s ease;
}
.get_started{
	padding:10px 0;
}
.get_started:hover button{
			background:#0d6efd;
			opacity:1;

}
.get_started:hover .get_arrow{
	transform:translateX(20px);
	transition:all 0.8s ease;

}
.banner_left{
	padding-right:40px;
	    line-height: 30px;
}
.banner_left h3{
	font-size:45px;
	color:#012970;
	font-weight:500;
}
.banner_sub_right{
	background-image:url(../assets/about.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
.banner_sub_left{
	background-color:#f6f9ff;
	margin:100px 0;
	
	
}
.banner_sub_left h6{
	font-size:15px;
	color:#b0bdd8;
}
.banner_sub_left h3 {
	font-size:30px;
	color:#525288;
}
.banner_sub_left p{
	font-size: 15px;
    color: #525288;
}

.section_title h6{
	font-size:18px;
	color:#4154f1;
}
.section_title p{
	font-weight:700;
	font-size:30px;
	color:#525288;

}
.values_sub{
	box-shadow:0px 0 6px rgb(128 127 128 / 22%);
	transition:all 0.5s ease;
}
.values_sub:hover{
	 box-shadow:0px 0 32px rgb(128 127 128 / 22%);
}
.values_sub img{
	transition: all 0.8s ease;
}
.values_sub:hover img{
	 transform: scale(0.8);
	 /* transition: all 0.9s ease; */
}
.values_sub h3{
	color:#012970;
	font-weight:400;
}

.values_sub p{
	font-size: 15px;
    color: #444444db;
}
.clients_list{
	    position: relative;
    padding: 24px 0 24px 40px;
	box-shadow:0px 0 30px rgb(128 127 128 / 22%);
}
.clients_list i{
	position: absolute;
    top: 27%;
    font-size: 40px;
	}

	.clients_list h4{
	color:#0b198f;
	font-size:40px;
}
.clients_list h5{
	color:#444444db;
	font-size:15px;
	font-weight:200;
}
.clients_list h4,
.clients_list h5{
	padding-left:65px;
	
}
.carousel-item img{
	opacity:0.6;
}
	
 .carousel-indicators.slider [data-bs-target] {
	height: 12px;
	background:white;
    width: 12px;
    border: 1px solid blue;
}
/* .feature_image{ */
	/* background-image:url(../assets/features.png); */
	/* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
/* } */
.feature_right_Sub{
	
	margin:15px auto;
    box-shadow:0px 0 30px rgb(128 127 128 / 22%);
}
.feature_right_Sub p{
	padding:32px;
}
.feature_right_Sub i{
	padding:5px;
	background-color:#ecf3ff;
	color:#0561a8;
	margin-right:10px;
}
.feature_right_Sub:hover i{
	background-color:blue;
	color:white;
}

.volunters_left_header p{
	    color:#012970;
    font-weight: 600;
    font-size: 29px;
	    font-weight: 500;
    /* padding-bottom: 10px */
}
.volunters_left_header span{
	
	color:#3b52f6;
	padding-right:30px;
	padding-bottom:10px;
	font-weight: 600;
}

.volunters_left_header .navigation{

    padding-bottom: 9px;
    margin-bottom: 13px;
	
} 
.navigation .nav-item .sub a{
	font-size:18px;
}
.volunters_left .nav-item .sub:hover{
	color:blue;
	 border-bottom: 4px solid #4154f1;
}
.nav-tabs .nav-link{
	padding:10px 0;
	margin:0 12px 0 0;
	
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	/* border-color:transparent; */
}
.nav-tabs .nav-link:hover{
	border-color:white;
	border-bottom:2px solid blue;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
	padding-left: 0;
    color: #012970;
    font-weight: 500;
}
.volunters_left.nav-link{
	margin-right:20px;
	padding:1rem 0;
	line-height:15px;
	
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent;
	border-bottom: 4px solid #4154f1;
	color:#4154f1;
   
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	border-color:none;
}
.volunters_left.nav-tabs{
	font-size:14px;
	font-weight:700;
}
.volunters_left .nav-tabs.nav-link{
	border:none;
	color:#012970;
	
}

	
.volunters_left_header.sub .nav_hover{
	border-bottom:5px solid #0c2671;
	
}
. .descripton .para{
	color:#444444;
	padding-bottom:12px;
	font-size:20px;
}
 .description p{
	color: #444444;
    font-size: 17px;
    padding-top: 9px;
    font-weight: 100;
}

 .description h4{
	
	color:#012970;
    padding-bottom: 14px;
    font-weight: 500;
	font-size:20px;
}

 .description i{
	padding-right:8px; 
	font-size:20px;
	color:#4154f1;
}
.announcement_image img{
	padding:20px;

}
.announcement_list_sub{
	position:relative;
	
}
.announcement_list_sub i{
	position: absolute;
    top: 0;
    font-size: 41px;
    color: #0245bc;
	padding-right:50px;
	}
	
.announcement_list_sub h4,
.announcement_list_sub p{
	margin-left:65px;
}

.announcement_list_sub h4{
	font-size:20px;
	color:#345591;
}
.announcement_list_sub p{
	font-size:15px;
	color:#cecfd0;
}
.services_list_items{
	padding:65px 20px 81px;
	line-height:30px;
	border-radius: 5px;
	box-shadow:0px 0 30px rgb(128 127 128 / 22%);
	border-radius: 6px;
	transition:all 0.5s ease;
}
.services_list_items h4{
	font-weight:600;
		
}
.services_list_items p{
	color:#444;
	font-size:16px;
		
}
.services_list_items .color1
{
	    font-size: 35px;
    color: #2db6fa;
    background: #dbf3fe;
    padding: 22px;
	border-radius: 5px;
	transition:all 0.5s ease;
	margin-bottom:20px;
}
.services_list_items:hover.list_1{
	background:#2db6fa;
}
.services_list_items:hover .color1{
	color:#2db6fa;
	background:white;
}
.services_list_items .color2
{
	font-size: 35px;
   color: #f68c09;
    background: #fde3c4;
    padding: 22px;
	border-radius: 5px;
		transition:all 0.5s ease;
		margin-bottom:20px;
}
.services_list_items:hover.list_2{
	background:#f68c09;
}
.services_list_items:hover .color2{
	color:#f68c09;
	background:white;
}
/* .services_list_items .color3 */
/* { */
	/* font-size: 35px; */
     /* color: #08da4e; */
    /* background: #cffddf; */
    /* padding: 22px; */
		/* transition:all 0.5s ease; */
	/* border-radius: 5px; */
		/* margin-bottom:20px; */
/* } */
/* .services_list_items:hover.list_3{ */
	/* background:#08da4e; */
/* } */
/* .services_list_items:hover .color3{ */
	/* color:#08da4e; */
	/* background:white; */
/* } */
.btn-light .green{
	background:green;	
}
.services_list_items .color3
{
	font-size: 35px;
    color: #08da4e;
    background: #cffddf;
    padding: 22px;
		transition:all 0.5s ease;
	border-radius: 5px;
		margin-bottom:20px;
}
.services_list_items:hover.list_3{
	background:green;
}
.services_list_items:hover .color3{
	color:green;
	background:white;
}
.services_list_items .color4
{
	font-size: 35px;
    color: #e9222c;
    background: #fef7f8;
    padding: 22px;
	transition:all 0.5s ease;
	border-radius: 5px;
	margin-bottom:20px;
}
.services_list_items:hover.list_4{
	background:#e9222c;
}
.services_list_items:hover .color4{
	color:#e9222c;
	background:white;
}
.services_list_items .color5
{
	font-size: 35px;
    color: #b50edf;
    background: #f8e4fd;
    padding: 22px;
	transition:all 0.5s ease;
	border-radius: 5px;
	margin-bottom:20px;
}
.services_list_items:hover.list_5{
	background:#b50edf;
}
.services_list_items:hover .color5{
	color:#b50edf;
	background:white;
}
.services_list_items .color6
{
	font-size: 35px;
    color: #f51f9c;
	transition:all 0.8s ease;
    background: #feecf7;
    padding: 22px;
	border-radius: 5px;
	margin-bottom:20px;
}
.services_list_items:hover.list_6{
	background:#f51f9c;
}
.services_list_items:hover .color6{
	color:#f51f9c;
	background:white;
}
.services_list_items:hover .btn-light.sec1{
	color:white;
	background:#2db6fa;
	border:none;
	
}
.services_list_items:hover .btn-light.sec2{
	color:white; 
	background:#f68c09;
	border:none;
	
}
.services_list_items:hover .btn-light.sec3{
	
	background:transparent;
	border:none;
	color:white;
	
}
.services_list_items:hover .btn-light.indigo{
	background:#e9222c;
	color:white;
	border:none;
	
}
.services_list_items:hover .btn-light.violet{
	background:#b50edf;
	color:white;
	border:none;
	
}
.services_list_items:hover .btn-light.pink{
	background:#f51f9c;
	color:white;
	border:none;
	
}
.service_list .list_1{
	border-bottom:2px solid #2db6fa;
}
.service_list .list_2{
	border-bottom:2px solid #f68c09;
}
.service_list .list_3{
	border-bottom:2px solid #08da4e;
}
.service_list .list_4{
	border-bottom:2px solid  #d63384;
}
.service_list .list_5{
	border-bottom:2px solid #6f42c1;
}
.service_list .list_6{
	border-bottom:2px solid  #20c997;
}
.sec1{
	color:#2db6fa;
}
.sec2{
	color:#f68c09;
}
.sec3{
	color:#08da4e;
}

.indigo{
	color:#d63384;
}

.violet{
	color:#6f42c1;
}
.pink{
	color:#f51f9c;
}
.pricing_list{
	position:relative;
	overflow:hidden;
}
.feature{
	position: absolute;
    top: 19px;
    right: -40px;
    padding: 0px 50px;
    rotate: 44deg;
    background: #4154f1;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.pricing_list{
	    box-shadow:0px 0 30px rgb(128 127 128 / 22%);
		border-radius:6px;
		padding:51px 17px;
		line-height:33px;
		transition:all 0.3s ease;
}
.pricing_list:hover{
	transform:scale(1.1);
}
.pricing_list h6{
	font-size: 34px;
    font-weight: 700;
    padding: 15px 0;
}
.pricing_list h6 sub{
	color:#ccc;
	font-weight:200;
}
.pricing_list p{
	font-size:17px;
	color:#444;
}
.pricing_list del{
	color:#ccc;
}
.pricing_list button{
	padding:9px 34px;
}
 /* faq section */
.faq_questions p{
	padding-bottom:8px;
	    border-bottom: 1px dashed grey;
}
.accordion-button:not(.collapsed) {
    background-color:#fff;
    
}
.accordion-item{
	border:none;
}
.no_border{
	border-bottom:1px dashed grey;
}

/* portfolio section */


.portfolio_nav .nav .nav-item .nav-link{
    padding: 7px 17px;
    margin: 0 5px;
    font-weight: 200;
    line-height: 14px;
    border: 1px solid transparent;
	transition:all 0.8s ease;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link .port{
	
	background:none;
	margin-right:8px;
	border:1px solid blue;
}
.portfolio_nav .nav .nav-item .nav-link:hover { 
	border:1px solid blue;

}

.portfolio_images{
	position:relative;
	overflow:hidden;
}

.port_txt{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    text-align: center;
    /* bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
	visibility:hidden;
	opacity:0;
	transition:all 0.4s ease;
}

.port_txt:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,40%);
	transform:scale(0.4);
	transition:all 0.8s ease;	
}
.portfolio_images:hover .port_txt:after
{
	transform:scale(1);
	visibility:visible;
	opacity:1;
}
.port_txt_sub{
	position:relative;
	z-index:2;
}
.bor_1:after {
    content: "";
    position: absolute;
    left: 28px;
    top: 24px;
    width: 40px;
    height: 40px;
    border-left: 3px solid #444;
    border-top: 3px solid #444;
	transition:all 0.8s ease;
    visibility:hidden;
}
.bor_1:before{
    content: "";
    position: absolute;
    right: 28px;
    bottom: 24px;
    width:  40px;
     height: 40px;
    border-right: 3px solid #444;
    border-bottom: 3px solid #444;
	transition:all 0.8s ease;
	visibility:hidden;
		
    
}
.portfolio_images:hover .bor_1:before{
	visibility:visible;
}
.portfolio_images:hover .bor_1:after{
	visibility:visible;
}

.port_txt_sub h5,
.port_txt_sub h6{
	color:#012970;
}
.port_txt_sub a i{
	/* padding:12px; */
	width:45px;
	height:45px;
	background:#4154f1;
	color:white;
	border-radius:50%;
	line-height:45px;
}

.portfolio_images:hover img{
	transform:scale(1.2);
	overflow:hidden;
	transition:all 0.2s ease;
}
.portfolio_images:hover .port_txt{
	visibility:visible;
	opacity:1;
	transition:all 0.2s ease;
}

/* team section starts */

.team_list{
	box-shadow: 2px 10px 10px rgba(0,0,0,15%);
    border-radius: 8px;
    overflow: hidden;
	position:relative;
	transition:all 0.3s ease;
}
.team_list:hover{
	transform:scale(1.1);
	
}
.team_list_img_hover{
	position: absolute;
    top: 31px;
    right: 15px;
	background:rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	transform:translateX(60px);
	transition:all 0.3s ease;
}
.team_list:hover .team_list_img_hover{
	transform:translateX(5px);
}
/* .team_list .team_list_img .team_list_img_hover:after{ */
	/* background:url('./assets/team-shape.svg'); */
	/* position:absolute; */
	/* z-index:2; */
	/* height:60%; */
	/* width:60%; */
	/* top:0; */
	/* bottom:0; */
/* } */
.team_list_img a{
	/* position:absolute; */
	display:block;
}
.team_list_img{
	position:relative;
}
.team_list_img:after{
	content: "";
    background-image: url(../assets/team-shape.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    top: 1px;
    height: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
	}
.team_list_img i{
	width:30px;
	height:30px;
	margin:6px;
	line-height:30px;
	text-align:center;
	color:#012970;
}

.team_text{
	border-top: 1px solid grey;
}
.team_text h3{
	color:#012970;
	font-weight:700;
}
.team_text p{
	font-size: 14px;
    color: #5e5e5e;
    font-style: italic;
    line-height: 29px;
    padding: 15px 7px;
}
 /* clients section */

/* .clients_images img{ */
	/* opacity:0.2; */
/* } */
/* .clients_images:hover img{ */
	/* opacity:1; */
/* } */
.carousel-indicators [data-bs-target]{
	height:30px;
	margins-top:50px;
	border-radius:50%;
	background:white;
	border:1px blue;
}
.carousel-item img{
	opacity:0.2;
}
.carousel-item img:hover{
	opacity:1;
}
.outer{
	text-align:center;
	
}
.outer .dots{
	width:10px;
	height:10px;
	background-color:#808080;
	border-radius:50%;
	display:inline-block;
}
.dotcolor{
	width:10px;
	height:10px;
	background-color:#ffc451;
	border-radius:50%;
	display:inline-block;
}	

 /* blog section */
 
 .blog_img{
	 overflow:hidden;
 }
 .card-body .blog{
	 padding:2px 12px;
 }
 .card .blog img{
	 transition:all 0.3s ease;
	 overflow:hidden;
 }

.card .blog h5{
	color:rgba(1, 41, 112, 0.6);
	font-size:16px;
	font-weight:200;
	
}
.card .blog p{
	color:#012970;
	letter-spacing:2px;
	font-size:20px;
	font-weight:600;
}
.card .blog a{
	font-size:17px;
	color:#4154f1;
}
.blog_list:hover p{
	color:blue;
	font-weight:600;
	transition:all 0.3s ease;
}
.blog_list{
	box-shadow: 2px 10px 10px rgba(0,0,0,15%);
	transition:all 0.6s ease;
	
}
.blog_list:hover .card.blog img{
	transform:scale(1.2) rotate(15deg);
	transition:all 0.5s ease;
	/* transform:skew(-30deg); */
	/* transform:rotate(15deg); */
	
	
}
/* newsletter section */
.address_list, .contact_right, .newsletter_subscribe{
	background-color:#fafbff;
}
.testinomail_rating i{
	color:yellow;
}


.testinomial_list{
	box-shadow: 2px 10px 10px rgba(0,0,0,15%);	
	transition:all 0.3s ease;
}

.testinomial_list img{
	height:80px;
	width:80px;
	border-radius:50%;
	opacity:1;
	margin:5px 0;
}
.testinomial_list p{
	color:#444;
	font-style:italic;
	font-size:20px;
	padding:12px 0;

}
.testinomial_list h5{
	color:black;
	font-weight:600;
	padding:8px 0;
}
.testinomial_list h6{
	color:#ccc;
	padding:0;
	font-size:15px;
}
.testinomial_list:hover{
	transform:scale(1.1);
	margin:0 10px;
	transition:all 0.8s ease;
	
}

.address_list i{
	font-weight:100;
}
.address_list h3{
	color: #012970;
    font-size: 20px;
}
.address_list p{
	color:#444444;
	font-weight:100;
	font-size:14px;
	line-height:25px;
}

.contact_right .send_msg{
		padding:10px 33px;
}
.newsletter_subscribe p{
	color:#444444;
	font-weight:400;
}
.subscribe_form .subsc{
	padding:10px 15px;
	
} 
.subscribe_form{
	margin-top:34px;
}
.sub_form{
	background:#fff;
	padding:7px;
	border-radius:6px;
}
.subscribe_form .subsc{
	padding: 7px 33px;
}
.subscribe_form .subsc:hover{
	opacity:0.8;
} 
.form-control.subscibe_input{
	border: 1px solid #fff;
    padding: 12px;
    height: 37px;
}

.footer{
	background-image: url(../assets/footer-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 58px 30px 32px 38px;
    overflow: hidden;
}
.footer_links img{
	display: inline-block;
    height: 28px;
    margin: 4px 0px 0;
}
.footer_links h1{
	color: #525288;
    font-size: 31px;
    font-weight: 400;
    padding-left: 5px;
}
.footer_links p{
	color: #444;
    font-size: 14px;
    font-weight: 200;
    padding: 4px 0;

}
.footer_company_icons i{
	color: #012970a3;
    font-size: 20px;
    padding-right: 13px;  
}
.footer_company_icons i:hover{
	color:#012970;
}
.useful_links h3{
	color:#525288;
	font-size:25px;
}
.useful_links ul li a{
	color:#525288;
	font-size:15px;
}
.useful_links ul li a:hover{
	color:#4154f1;
}
.useful_links ul li a i{
	color:#ccc;
}
.useful_links p{
	color: #444;
    font-size: 15px;
    padding: 18px 0px;
}
.useful_links h4{
	color: #444;
    font-size: 15px;
    font-weight: 200;
}
.useful_links h4 b{
	color: black;
    font-size: 16px;
    font-weight: 600;
}
.copyrights_content{
	background-color:#fafbff;
}